* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: antiquewhite;
}
.box {
  display: flex;
  color: antiquewhite;
  align-items: center;
  width: 200px;
  height: 200px;
  background-color: green;
  border: 5px solid black;
  text-align: center;
  overflow: hidden;
}
.drop {
  border-radius: 0% 50% 50% 50%;
  margin-right: auto;
}
.circle {
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.leaf {
  border-radius: 0% 50%;
  margin-left: auto;
}
.sec {
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  border-style: solid;
  border-image-source: url(./imgs/pDSC_7944_PerfectlyClear.jpg);
  border-image-width: 50px;
  border-image-repeat: stretch;
  border-image-slice: 90%;
}
.block {
  width: 100px;
  height: 100px;
  border: 5px solid black;
}
